node_modules
_build
bower_components
media
*.mo
dist
src/server/common/core/version.php
src/server/platforms/joomla/lib_chatbro/backends/version.php
src/server/platforms/joomla/com_chatbro/chatbro.xml
src/server/platforms/joomla/mod_chatbro/mod_chatbro.xml
src/server/platforms/joomla/lib_chatbro/chatbro.xml
