node_modules
_build
bower_components
media
*.mo
dist
src/server/common/core/version.php
src/server/platforms/joomla/lib_chatbro/backends/version.php
src/server/platforms/joomla/com_chatbro/chatbro.xml
src/server/platforms/joomla/mod_chatbro/mod_chatbro.xml
src/server/platforms/joomla/lib_chatbro/chatbro.xml
chatbro_update.xml
pkg_chatbro.xml
chatbro.xml
src/server/platforms/wordpress/common
src/server/platforms/wordpress/index.php
src/server/platforms/wordpress/backends/version.php
src/server/platforms/wordpress/favicon_small.png
src/server/platforms/wordpress/css
src/server/platforms/wordpress/fonts
src/server/platforms/wordpress/js
