.affix {
  @media screen and (max-width: 1199px) {
    position: static;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    top: 83px;
    padding-right: 54px;
    height: 90vh;
  }
}

#support-chat {
  height: 100%;
  @media screen and (max-width: 1199px) {
    height: 70vh;
  }

  @media screen and (min-width: 1200px) {
    height: 75vh;
  }
}
